

.header {
    width: 100%;
    background-color: lightsteelblue;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
    color: floralwhite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


h2 {
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

nav {
    color: black;
    padding: 20px;

}

.styled-form {
    background: lightsteelblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}



label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

input, select {
    padding: 0.4rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;

}

table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
    white-space: nowrap;
}

.bookingDetails-box {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

th {
    background: lightsteelblue;
}

    button:hover {
        background-color: darkred;
        color: white;
    }


.footer {
    margin-top: 10rem;
}

.customer-container {
    background: lightsteelblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 675px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
}

.customer-btn {
    max-width: 75px;
    margin-top: 0.75em;
}

.customer-container h3 {
    margin-top: 25px;
    margin-bottom: 0;
}

.alert-success {
    font-size: 20px;
    margin: 20px auto;
    color: seagreen;
    text-align: center;
}

