<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Available Rooms</title>
</head>
<body>
  <div>
    <form th:action="@{/rooms/search}" method="get">
      <input type="number" name="peopleCount">
      <input  type="date" name="start">
      <input type="date" name="end">
      <input type="submit">
    </form>
    <ul>
      <li th:each="room : ${availableRooms}">
      Room Type: <span th:text="${room.roomType.name}"></span>,
      Beds: <span th:text="${room.roomType.bedCount}"></span>,
      Extra Beds: <span th:text="${room.roomType.extraBedsAvailable}"></span>
    </li>
    </ul>
  </div>
</body>
</html>