<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Available Rooms</title>
</head>
<body>
<div>
  <form th:action="@{/rooms/search}" method="get">
    <label for="peopleCount">Antal personer:</label>
    <input type="number" id="peopleCount" name="peopleCount" min="1" required />

    <label for="start">Startdatum:</label>
    <input type="date" id="start" name="start" required />

    <label for="end">Slutdatum:</label>
    <input type="date" id="end" name="end" required />

    <input type="submit" value="Sök lediga rum" />
  </form>

  <ul>
    <li th:each="room : ${availableRooms}">
      Rumstyp:<span th:text="${room.roomType.name}"></span>,
      Sängar:<span th:text="${room.roomType.bedCount}"></span>,
      Extrasängar: <span th:text="${room.roomType.extraBedsAvailable}"></span>
    </li>
  </ul>
</div>

</body>
</html>