<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Form</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/bookingform.css}" />

<div class="form-container">

    <div id="customerForm" class="form-card customerForm">
        <h2>Customer Information</h2>
        <form th:action="@{/bookcustomer}" method="post">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" placeholder="John" required />
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" placeholder="Doe" required />
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="email@email.com" required />
            <label for="phone">PhoneNumber</label>
            <input type="text" id="phone" placeholder="071234565" required />
            <div class="buttonDiv">
                <button class="buttons" onclick="showRoom()">Choose Room</button>
                <button class="buttons" onclick="showAvailableRooms()">Available Rooms</button>
            </div>
        </form>
    </div>
    <div id="availableRooms"></div>

    <div id="roomForm" class="form-card roomForm" style="display:none;">
        <h2>Choose Room</h2>
        <form th:action="@{/room/addbeds}" method="post">
            <input type="hidden" name="roomTypeId" value="6" />
            <div class="choice">
                <label for="singleRoom">Single Room         </label>
                <input type="checkbox" id="singleRoom"/>
            </div>
            <div class="choice">
                <label for="doubleRoom">Double Room         </label>
                <input type="checkbox" id="doubleRoom"/>
            </div>
            <div class="choice">
                <label for="bigDoubleRoom">Big Double Room  </label>
                <input type="checkbox" id="bigDoubleRoom"/>
            </div>
            <div class="choice">
                <label for="oneExtraBed">Add one extra bed  </label>
                <input type="checkbox" id="oneExtraBed" name="beds" value="1"/>
            </div>
            <div class="choice">
                <label for="twoExtraBeds">Add two extra beds</label>
                <input type="checkbox" id="twoExtraBeds" name="beds" value="2"/>
            </div>
            <div class="buttonDiv">
                <button type="submit" class="buttons">Book</button>
                <button class="buttons" onclick="showCustomer()">Go Back</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/bookingscript.js}"></script>
</body>
</html>