<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header class="header">
    <h1 th:text="${pageTitle}"></h1>
</header>
<nav>
    <a th:href="@{/}">Hem</a> |
    <a th:href="@{/customer}">Hantera kunder</a> |
    <a th:href="@{/bookings}">Alla bokningar</a> |
    <a th:href="@{/bookings/create}">Skapa bokning</a> |
    <a th:href="@{/rooms}">Alla rum</a> |
    <a th:href="@{/available-rooms}">Lediga rum</a>
</nav>
<div class="container">
    <h2 th:text="${formTitle}"></h2>
    <div th:unless="${#lists.isEmpty(bookings)}">
        <table>
            <thead>
            <tr>
                <th th:text="${customerName}"></th>
                <th th:text="${roomNumber}"></th>
                <th th:text="${startDate}"></th>
                <th th:text="${endDate}"></th>
                <th th:text="${options}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.customer.firstName + ' ' + booking.customer.lastName}"></td>
                <td th:text="${booking.room.roomNumber}"></td>
                <td th:text="${booking.startDate}"></td>
                <td th:text="${booking.endDate}"></td>
                <td>
                    <a th:href="@{/bookings/update-booking/{id}(id=${booking.id})}">Uppdatera</a> |
                    <a th:href="@{/bookings/booking/{id}(id=${booking.id})}">Samtlig information om bokning</a> |
                    <form th:action="@{/bookings/delete/{id}(id=${booking.id})}" method="post" style="display:inline;">
                        <button type="submit">Radera</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${#lists.isEmpty(bookings)}" style="text-align:center;">
        Inga bokningar hittades.
    </div>
<footer class="footer"></footer>
</body>
</html>
