<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" th:href="@{/style.css}" />

<head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}"></title>
</head>
<body>

<header class="header">
    <h1 th:text="${pageTitle}"></h1>
</header>

<nav>
    <a th:href="@{/}">Hem</a> |
    <a th:href="@{/customer}">Hantera kunder</a> |
    <a th:href="@{/bookings}">Alla bokningar</a> |
    <a th:href="@{/bookings/create}">Skapa bokning</a> |
    <a th:href="@{/rooms}">Alla rum</a> |
    <a th:href="@{/available-rooms}">Lediga rum</a>
</nav>

<div class="container">
<h2 th:text="${formTitle}"></h2>

    <form class="styled-form" th:action="@{/rooms/search}" th:object="${minimalBookingDto}" method="get">
        <input type="number" name="peopleCount" required
               oninvalid="this.setCustomValidity('Du måste ange antal personer')"
               oninput="this.setCustomValidity('')">

        <input  type="date" name="start" required
                oninvalid="this.setCustomValidity('Du måste ange ett startdatum')"
                oninput="this.setCustomValidity('')">

        <input type="date" name="end" required
               oninvalid="this.setCustomValidity('Du måste ange ett slutdatum')"
               oninput="this.setCustomValidity('')">
        <input type="submit">
    </form>


        <form id="addBedsForm" class="styled-form">
            <input type="hidden" name="roomTypeId" id="roomTypeIdInput">
            <div class="bedOptionOne" >
                <label for="addOneBed">Add one extra bed</label>
                <input id="addOneBed" type="checkbox" name="beds" value="1">
            </div>
            <div class="bedOption">
                <label for="addTwoBeds">Add two extra beds</label>
                <input id="addTwoBeds" type="checkbox" name="beds" value="2">
            </div>
            <input type="submit" value="Lägg till sängar">
        </form>
        <div id="bedMessage"></div>

    <form class="styled-form" th:action="@{/bookings/create}" th:object="${minimalBookingDto}" method="post">

        <label th:text="${labelCustomer}" for="customers"></label>
        <select id="customers" th:field="*{customer.id}" required>
            <option value="" disabled selected>Välj kund</option>
            <option th:each="cust : ${customers}"
                    th:value="${cust.id}"
                    th:text="${cust.firstName + ' ' + cust.lastName}">
            </option>
        </select>
        <div th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" class="error"></div>
        <div th:if="${#fields.hasErrors('customer.id')}" th:errors="*{customer.id}" class="error"></div>


        <label th:text="${labelRooms != null ? labelRooms : 'Välj rum:'}" for="rooms"></label>
        <select id="rooms" th:field="*{room.id}" required>
            <option value="" disabled selected>Välj rum</option>
            <option th:if="${availableRooms != null}"
                    th:each="room : ${availableRooms}"
                    th:value="${room.getRoomId()}"
                    th:text="${room.roomType != null ?room.roomType.name + ' ' + room.roomNumber + ' '
                    + room.roomType.bedCount + ' säng(ar) - '
                    + room.roomType.extraBedsAvailable + ' extra sängar' : 'Rummet finns ej'}"
                    th:attr="data-roomTypeId=${room.roomType.getId()}">
            </option>
        </select>

        <div th:if="${#fields.hasErrors('room')}" th:errors="*{room}" class="error"></div>
        <div th:if="${#fields.hasErrors('room.id')}" th:errors="*{room.id}" class="error"></div>

        <label th:text="${labelStartDate}" for="startDate"></label>
        <p th:text="*{getStartDate()}"></p>
        <input type="hidden" id="startDate" th:field="*{startDate}" required />
        <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></div>

        <label th:text="${labelEndDate}" for="endDate"></label>
        <p th:text="*{getEndDate()}"></p>
        <input type="hidden" id="endDate" th:field="*{endDate}" required />
        <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error"></div>


        <input type="submit" value="Skapa bokning" />
    </form>


    <div th:if="${errorMessage}">
        <p style="color:red;" th:text="${errorMessage}"></p>
    </div>

    <div th:if="${message}">
        <p style="color:green;" th:text="${message}"></p>

    </div>
</div>
<footer class="footer"></footer>
<script th:src="@{/js/script.js}"></script>
</body>
</html>

