<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Customers</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 1rem;
        }
    </style>
</head>
<body>

<h3>All customers</h3>
<div class="allBooksTable" th:unless="${#lists.isEmpty(allCustomers)}">
<table>
    <tbody>
    <tr th:each="customer : ${allCustomers}">
        <td th:text="${customer.firstName + ' ' + customer.lastName}">Name</td>
        <td th:text="${customer.email}">Email</td>
        <td th:text="${customer.phone}">Phone</td>
    </tr>
    </tbody>
</table>
</div>
<br>

<h3>Add customer</h3>
<div class="container">
    <form action="addCustomer" method="post">
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName"><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>