<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="Customers"></title>
</head>

<body>
<h3>ManageRooms 1.0</h3>
<a href="/">
    <button>Home</button>
</a>

<h3>All customers</h3>
<div class="allBooksTable" th:unless="${#lists.isEmpty(allCustomers)}">
<table>
    <tbody>
    <tr th:each="customer : ${allCustomers}">
        <td th:text="${customer.firstName + ' ' + customer.lastName}">Name</td>
        <td th:text="${customer.email}">Email</td>
        <td th:text="${customer.phone}">Phone</td>
    </tr>
    </tbody>
</table>
</div>
<br>

<h3>Add customer</h3>
    <form action="addCustomer" method="post">
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" required><br>
        <br>
        <input type="submit" value="Submit">
    </form>
<br>

<h3>Change Customer</h3>
<form action="" method="get">
    <label>
        <select name="change" onchange="this.form.submit()">
            <option value="">Customer to change</option>
            <option th:each="customer : ${allCustomers}"
                    th:value="${customer.id}"
                    th:text="${customer.firstName + ' ' + customer.lastName}"
                    th:selected="${param.change != null and param.change[0] == customer.id.toString()}">
            </option>
        </select>
    </label>
</form>
<br>

<div th:if="${param.change != null and param.change[0] != ''}">
    <form th:action="@{/changeCustomer}" method="post">
        <input type="hidden" name="id" th:value="${param.change[0]}">
        <div th:each="customer : ${allCustomers}"
             th:if="${customer.id.toString() == param.change[0]}">
            <label>First name:<br>
            <input type="text" name="firstName" th:value="${customer.firstName}" required></label><br>
            <label>Last name:<br>
            <input type="text" name="lastName" th:value="${customer.lastName}" required></label><br>
            <label>Email:<br>
            <input type="text" name="email" th:value="${customer.email}" required></label><br>
            <label>Phone:<br>
            <input type="text" name="phone" th:value="${customer.phone}" required></label><br>
        </div>
        <br>
        <input type="submit" value="Update">
    </form>
</div>

<h3>Delete Customer</h3>
<form th:action="@{/deleteCustomer}" method="post">
    <label>
        <select name="deleteId" required>
            <option value="" selected>Select customer to delete</option>
            <option th:each="customer : ${allCustomers}"
                    th:value="${customer.id}"
                    th:text="${customer.firstName + ' ' + customer.lastName}">
            </option>
        </select>
    </label>
    <input type="submit" value="Delete">
</form>

</body>
</html>