<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>ManageRooms 1.0</title>
</head>
<body>

<header class="header">
    <h1>ManageRooms 1.0</h1>
</header>

<nav>
    <a th:href="@{/}">Hem</a> |
    <a th:href="@{/customer}">Hantera kunder</a> |
    <a th:href="@{/bookings}">Alla bokningar</a> |
    <a th:href="@{/bookings/create}">Skapa bokning</a> |
    <a th:href="@{/rooms}">Alla rum</a> |
    <a th:href="@{/available-rooms}">Lediga rum</a>
</nav>

</body>
</html>