<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<header class="header">
    <h1 th:text="${pageTitle}"></h1>
</header>

<nav>
    <a th:href="@{/}">Hem</a> |
    <a th:href="@{/customer}">Hantera kunder</a> |
    <a th:href="@{/bookings}">Alla bokningar</a> |
    <a th:href="@{/bookings/create}">Skapa bokning</a>
</nav>

<div class="container">
    <h2 th:text="${formTitle}"></h2>

    <form class="styled-form" th:action="@{/bookings/update-booking}" method="post" th:object="${minimalBookingDto}">
        <input type="hidden" th:field="*{id}" />
        <label th:text="${labelStartDate}" for="startDate"></label>
        <input type="date" id="startDate" th:field="*{startDate}" required />
        <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></div>

        <label th:text="${labelEndDate}" for="endDate"></label>
        <input type="date" id="endDate" th:field="*{endDate}" required />
        <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error"></div>

        <label th:text="${labelRooms}" for="rooms"></label>
        <select id="rooms" th:field="*{room.id}" required>
            <option th:each="room : ${rooms}"
                    th:value="${room.id}"
                    th:text="${room.roomNumber}">
            </option>
        </select>
        <div th:if="${#fields.hasErrors('room.id')}" th:errors="*{room.id}" class="error"></div>

        <button type="submit">Uppdatera bokning</button>
    </form>

    <div th:if="${errorMessage}">
        <p style="color:red;" th:text="${errorMessage}"></p>
    </div>

    <div th:if="${message}">
        <p style="color:green;" th:text="${message}"></p>
    </div>
</div>
<footer class="footer"></footer>
</body>
</html>
